/* FONTS */
/* Futuristic font */
@font-face {
    font-family: 'Gugi';
    src: url("./fonts/Gugi-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* USER SELECT OFF */
h3,
p,
img {
    user-select: none;
}

img {
    pointer-events: none;
}


/* SECTIONS */
body {
    background-color: #000;
    margin: 0;
    position: relative;
}



/* HEADER */
header {
    padding-top: 20px;
    width: 100vw;
    position: absolute;
    z-index: 1;
}

header > img {
    filter: drop-shadow(0 0 .5em #fff);
}

header > img,
footer > img {
    width: 100vw;
}

main {
    position: relative;
    margin: 0;
    overflow-x: hidden;
}



/* MAIN */
main section {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

main section #video {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 80%;
    /* transition: all .5s ease-in; */
}

div {
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    display: grid;
    align-items: center;

    z-index: 3;
    margin: auto;
    /* margin-top: 10em; */
}

div h3 {
    font-family: 'Gugi', Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;

    font-weight: 200;
    font-size: 1.5em;
    filter: drop-shadow(0 0 .2em #fff);
}

/* List of action buttons */
ul {
    list-style: none;
    padding: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

ul li {
    position: relative;
    margin: 10px 50px;
    animation: fade-animation .7s 1;
}

@keyframes fade-animation {
    0%   { opacity: 0%; margin: 10px 0px}
    50%   { opacity: 0%; margin: 10px 0px}
    100% { opacity: 100%; margin: 10px 50px}
  }

ul li:nth-of-type(4) p {
    position: absolute;
}

ul li button {
    transition: .4s;
}

ul li:nth-of-type(4) img,
ul li:nth-of-type(5) img {
    width: 40px;
    border-radius: 0;
    background: #3FA9F5;
}

ul li:nth-of-type(4):hover img,
ul li:nth-of-type(5):hover img {
    background: #FF7BAC;
}


ul li button img {
    width: 100px;
    cursor: pointer;
    padding: 1em;
    border-radius: 50%;
    background: #FF7BAC;
    transition: .5s ease-in-out;
}

ul li button:hover{
    transform: scale(1.1); 
}

ul li button:active {
    transform: scale(0.9);
}

ul li button:hover img {
    background: #FFB9D3;
}

ul li p.key {
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
    background-color: black;
    padding: 7px 10px 7px 12px;
    border-radius: 50%;
    box-shadow: inset -5px 0 .5em gray;
}

ul li:first-of-type p.key {
    color: #7AC943;
}

ul li:nth-of-type(2) p.key {
    color: #3FA9F5;
}

ul li:nth-of-type(3) p.key {
    color: #FF1D25;
}


ul li button {
    background: none;
    border: none;
    /* width: 100px; */
    cursor: pointer;
}




/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

footer img {
    transition: .5s ease-in-out;
}

.hide {
    opacity: 0;
}

.reset {
    opacity: 100%;
    animation: video-fade 1 .3s;
}

@keyframes video-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}